nav div :first-child {
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--white);
  border-right-style: none;
}

nav div a {
  width: 100%;
  border-radius: 0 0.5rem 0.5rem 0rem;
  text-align: center;
  align-content: center;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
  border-left-style: none;
}
