@charset "UTF-8";

/* Custom properties */
:root {
  /* Color */
  --black: #393939;
  --white: #ebf1f9;

  /* Typograpy */
  --typography: Helvetica, Arial, sans-serif;
}

/* No animations case */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Margin and padding */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Images */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* Links as block */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Links in paragraph case */
p a {
  display: inline;
}

/* Remove decoration in list */
li {
  list-style-type: none;
}

/* Smoothing the behaviour of links with # */
html {
  scroll-behavior: smooth;
}

/* Reset the default styles of text tags  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Pseudo-elements of quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Text selection */
::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

/* Typography and form alignment */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Tables */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Apply typography */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--typography);
  color: var(--black);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
